.search-control:focus {
  border-color: unset !important;
  box-shadow: none !important;
}
.product-card {
  border-radius: 16px !important;
  box-shadow: 8px 8px 4px 0px #00000040;
  transition: transform 0.2s;
  height: 208px;
  width: 208px;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-overlay {
  background: #f2eae1b2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0.75rem;
  z-index: 1;
}

.custom-dialog .modal-content {
  border-radius: 20px !important;
  box-shadow: 2px 5px 10px 0px #0000001a;
}
.custom-dialog .modal-content .modal-body {
  padding: 5rem 10rem;
}
.custom-dialog .modal-dialog-centered {
  justify-content: center;
}
.custom-dialog .modal-dialog .modal-content {
  max-width: 67%;
}
.custom-dialog .modal-dialog {
  max-width: 100%;
}

.product-card:hover .product-overlay {
  opacity: 1;
}

.btn-edit {
  width: 80px;
  transition: background-color 0.3s ease;
}
.btn-edit:hover {
  background-color: #e4a126 !important;
}

.btn-delete {
  background-color: #fe0000;
  border: none;
  width: 80px;
  transition: background-color 0.3s ease;
}
.btn-delete:hover {
  background-color: #d9534f;
}
.mt-80 {
  margin-top: 80px;
}
.w-70 {
  width: 70%;
}
.add-button {
  white-space: nowrap;
}

.pb-7 {
  padding-bottom: 7rem;
}
.pt-14 {
  padding-top: 14px !important;
}
.pb-14 {
  padding-bottom: 14px !important;
}

.custom-pagination .page-item {
  margin: 0 5px;
}

.custom-pagination .page-link {
  border-radius: 50% !important;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f1f1f1;
  font-weight: 600;
  transition: all 0.3s ease;
  color: #333333;
  font-family: "Open Sans", sans-serif;
}

.custom-pagination .page-item.active .page-link {
  background-color: #feaf00;
  border-color: #feaf00;
  color: #fff;
}

.custom-pagination .page-link:hover {
  background-color: #ffe0a3;
  border-color: #ffc107;
}

.custom-pagination .page-item.disabled .page-link {
  background-color: transparent;
}
.custom-pagination .dots.disabled .page-link {
  background-color: transparent;
  color: #333333;
  border: none;
}
.custom-pagination .page-item:first-child .page-link,
.custom-pagination .page-item:last-child .page-link {
  font-size: 26px;
  font-weight: 500;
  color: #333333;
}
@media (max-width: 1400px) {
  .product-card {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .product-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 16px;
  }
}
@media (max-width: 1200px) {
  .custom-dialog .modal-content .modal-body {
    padding: 3rem 7rem;
  }
}
@media (max-width: 768px) {
  .custom-pagination .page-link {
    width: 50px;
    height: 50px;
  }
  .mt-80 {
    margin-top: 40px;
  }
  .vw-sm-100 {
    width: 100vw;
  }
  .ps-7 {
    padding-left: 7rem;
  }
  .pe-7 {
    padding-right: 7rem;
  }
  .mb-md-32 {
    margin-bottom: 2rem !important;
  }
  .custom-dialog .modal-dialog .modal-content {
    max-width: 90%;
  }
  .custom-dialog .modal-content .modal-body {
    padding: 2rem 4rem;
  }
}
@media (max-width: 767px) {
  .product-card {
    width: 60%;
  }
}
