*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.w-475{
  width: 475px;
}
.ptb-42{
    padding-top: 42px;
    padding-bottom: 42px;
}
.prt-30 {
    padding-right: 30px;
    padding-left: 30px;
}
.p-15{
  padding: 15px!important;
}
.mb-42{
  margin-bottom: 42px!important;
}
.mb-30{
  margin-bottom: 30px!important;
}
.fs-22{
  font-size: 22px!important;
}
.fs-14{
  font-size: 14px!important;
}
.fs-12{
  font-size: 12px!important;
}
.fc-gray{
  color: #6c6c6c!important;
}
input::placeholder {
  color: #CDCDCD!important;
  font-size: 12px!important;
  font-weight: 400!important;
}
.form-control:focus {
    border-color: #ffae003a!important;
    box-shadow: 0 0 0 .25rem #feae0056!important;
}
.box-shadow{
  box-shadow: 2px 5px 10px 0px #0000001A!important;
}
.form-border{
  border: 1px solid #E5E5E5!important;
}
.br-4{
  border-radius: 4px!important;
}
.br-20{
  border-radius: 20px!important;
}
.bg-color-orange{
  background-color: #FEAF00!important;
  border: none!important;
}
.fc-orange{
  color: #FEAF00!important;
}
.authBackground{
    background: linear-gradient(90deg,#FEAF00,#F8D442);
    height: 100vh;
}